<!DOCTYPE xml>
<assembly name="{{.Name | escape}}"
          run-date="{{.Time}}" run-time="{{.Time}}"
          configFile="none"
          time="{{.Time}}"
          total="{{.Count}}"
          passed="{{index .Stats "passed"}}"
          failed="{{index .Stats "failed"}}"
          skipped="{{index .Stats "skipped"}}"
          environment="n/a"
          test-framework="golang">
    <class time="{{.Time}}" name="{{.Name | escape}}"
  	     total="{{.Count}}"
          passed="{{index .Stats "passed"}}"
          failed="{{index .Stats "failed"}}"
          skipped="{{index .Stats "skipped"}}"
    >
    {{range  $test := $.Children}}
        <test name="{{$test.Name | escape}}"
          type="test"
          method="{{$test.Name | escape}}"
          result={{$test.Status}}
          time="{{$test.Time}}">
        {{if eq $test.Status "fail" }}  <failure exception-type="go.error">
             <message><![CDATA[{{$test.Message}}]]></message>
      	  </failure>
      	{{end}}</test>
    {{end}}
    </class>
</assembly>
